<%- include("partials/header") -%>

      <h1> <%= pageTitle %> </h1>

        <% for (var i = 0; i < homeStartingContent.length; i++){ %>
          <h3> <%= homeContentTitle[i] %> </h3>
          <p> <%= homeStartingContent[i] %> </p>
        <% } %>

<%- include("partials/footer") -%>
