<%- include("partials/header") -%>

<h1> <%= pageTitle %> </h1>

<p>This is the home page where you can browse and see some of the blog posts that have been published!</p>

<% posts.forEach(function(post){ %>
<h2> <%= post.title %> </h2>
<p class="max-lines"> <%= post.content.substring(0,150) + "..." %> <a href="/posts/<%= post.title %>">Read More</a></p>
<% }); %>

<%- include("partials/footer") -%>
